<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.food">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true">

    </application>

</manifest>
